{% extends 'base.html' %}
{% block title %}{% if form.instance.pk %}Редактировать{% else %}Новое объявление{% endif %}{% endblock %}
{% block topbar_title %}{% if form.instance.pk %}Редактировать{% else %}Подать объявление{% endif %}{% endblock %}
{% block content %}
<div class="page-content">
<div class="form-card">
    <h2>{% if form.instance.pk %}Редактировать{% else %}Новое объявление{% endif %}</h2>
    <p class="sub">{% if form.instance.pk %}Обновите данные{% else %}Заполните форму и отправьте на проверку{% endif %}</p>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label class="form-label">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'select' %}
                <select name="{{ field.html_name }}" class="form-input">{% for val, label in field.field.choices %}<option value="{{ val }}" {% if field.value|stringformat:"s" == val|stringformat:"s" %}selected{% endif %}>{{ label }}</option>{% endfor %}</select>
            {% elif field.field.widget.input_type == 'textarea' %}
                <textarea name="{{ field.html_name }}" class="form-input" rows="4" placeholder="{{ field.label }}">{{ field.value|default:'' }}</textarea>
            {% else %}
                <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" class="form-input" value="{{ field.value|default:'' }}" placeholder="{{ field.label }}">
            {% endif %}
            {% if field.help_text %}<p class="form-help">{{ field.help_text }}</p>{% endif %}
            {% if field.errors %}<ul class="form-errors">{% for e in field.errors %}<li>⚠ {{ e }}</li>{% endfor %}</ul>{% endif %}
        </div>
        {% endfor %}
        <div class="form-actions">
            <a href="{% url 'profile_page' %}" class="btn-cancel-f">Отмена</a>
            <button type="submit" class="btn-submit" style="width:auto;padding:11px 24px;">Сохранить</button>
        </div>
    </form>
</div>
</div>
{% endblock %}
